body {
    margin: 0px;
    padding: 0px;
    font-family: 'Gowun Dodum', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

#logo {
    font-size: 24px;
}

#top-menu {
    display: flex;
    align-items: center;
    padding: 4px 15px;
    background-color: #f5f5f5;
}

#top-menu a {
    margin-right: 10px;
}

#menu-bar ul {
    display: flex;
    list-style: none;
}

#menu-select-container {
    font-size: 25px;
    text-align: center;
}

#letterWirte-container {
    width: 70%;
    height: 80%;
    margin: 0 auto;
}

#title {
    position:relative;
    width: 80%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    left: 50%;
    margin-bottom: 10px;
    transform: translateX(-50%);
}

#content {
    position: relative;
    width: 80%;
    height: 200px;
    left: 50%;
    transform: translateX(-50%);
}

textarea {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    margin-bottom: 10px;
}

input[type="submit"] {
    position: relative;
    width: 20%;
    float: right;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
}