body {
    margin: 0px;
    padding: 0px;
    font-family: 'Gowun Dodum', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

#logo {
    font-size: 24px;
}

#top-menu {
    display: flex;
    align-items: center;
    padding: 4px 15px;
    background-color: #f5f5f5;
}

#top-menu a {
    margin-right: 10px;
}

#menu-bar ul {
    display: flex;
    list-style: none;
}

#menu-select-container {
    font-size: 25px;
    text-align: center;
}

#letterWirte-container {
    width: 70%;
    height: 80%;
    background-color: aqua;
    margin: 0 auto;
}
