body {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFEBB4;
}

p {
    padding: 0px;
    margin: 8px;
}

#container {
    width: 80%;
    height: 80%;
    position: absolute;    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    border-radius: 20px;  
}

#information_container {
    width: 60%;
    height: 100%;
    background-color: #FBFFB1;
    text-align: center;
    float: left;
    border-radius: 20px 0px 0px 20px;
}

#text_box {
    width: 80%;
    height: 80%;
    top: 25%;
    transform: translateY(-50%);
    position: relative;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    top: 50%;
}

#login_container {
    width: 40%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    float: right;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    flex-direction: column;
}

#login-title {
    top: 25px;
    position: relative;
}

form {
    width: 80%;
    height: 50%;
    margin: 10% auto;
    top: 25%;
    transform: translateY(-50%);
    position: relative;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
}

input {
    width: 70%;
    height: 12%;
    display: block;
    border: 1px solid #ccc;
    position: relative;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    margin-bottom: 5px;
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    border-bottom-width:1;
}

#submit-button {
    background-color: #FFEBB4;
    border-width: 0px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

#submit-button:hover {
    background-color: #FFD87D;
}

a {
    text-decoration: none;
    color: #000;
    position: relative;
    font-size: 12px;
}