body {
    margin: 0px;
    padding: 0px;
    font-family: 'Gowun Dodum', sans-serif;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.container::after {
    width: 100%;
    height: 100%;
    content: "";
    background-image: url('../image/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
    opacity: 0.7;
}

a {
    text-decoration: none;
    color: #000;
}

#logo {
    font-size: 24px;
}

#top-menu {
    display: flex;
    align-items: center;
    padding: 4px 15px;
    position: relative;
    top: 10px;
}

#menu-bar ul {
    display: flex;
    justify-content: center;
    /* 요소들을 가로로 중앙 정렬 */
    position: relative;
    list-style: none;
    margin: 0;
}

#top-menu #menu-bar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.body-container {
    position: relative;
    top: 10%;
}


#login-box {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: 40px;
    cursor: pointer;
}

.myLetterList-container {
    position: relative;
    width: 60%;
    height: 400px;
    margin: 0 auto;
    background: white;
    overflow: scroll;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.thead-box {
    border-bottom: 1px #ddd solid;
}

table thead tr th {
    padding: 5px;
    text-align: center;
}

table thead tr th:first-child {
    width: 20%;
}

table thead tr th:last-child {
    width: 70%;
}

table tbody tr td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

table tbody tr td:first-child {
    width: 20%;
}

table tbody tr td:last-child {
    width: 100%;
}

table tbody button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
}

@media screen and (max-width: 767px) {
  .myLetterList-container {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .myLetterList-container {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .myLetterList-container {
    width: 80%;
    margin: 0 auto;
  }
}