<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/loginCheck.js"></script>
    <title>Login</title>
</head>
<body>
    <div id="container">
        <div id="information_container">
            <div id="text_box">
                <h1>LAST STORY</h1>
                <p>영원한 추억을 남기다</p>
                <p>Last Story는 사랑하는 사람들에게</p>
                <p>마음을 전하는 공간입니다.</p>
            </div>
        </div>
        <div id="login_container">
            <form action="/login" method="post" onsubmit="validateLogin(event)">
                <h2 id="login-title">Login</h2>
                <input type="text" name="username" id="username" placeholder="아이디" autocomplete="off">
                <input type="password" name="password" id="password" placeholder="비밀번호">
                <input type="submit" id="submit-button" value="로그인" onclick="login(event)">
            </form>
            <a href="signup">회원가입</a>
        </div>
    </div>
    <script src="/js/validation.js"></script>
</body>
</html>