<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/loginCheck.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <title>LastStory</title>
</head>

<body>
    <div id="top-container">
        <a href="main" id="logo">Last Story</a>
    </div>
    <div id="menu-container" onclick="">
        <a href="/letterWrite">
            <div id="menu-2" class="menu">
                <p>유언장 쓰기</p>
            </div>
        </a>
        <a href="/myLetterList">
            <div id="menu-3" class="menu">
                <p>내 유언장 보기</p>
            </div>
        </a>
        <a href="#">
            <div id="menu-1" class="menu">
                <p>공지사항</p>
            </div>
        </a>
    </div>
</body>

</html>